@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400;700&display=swap');

*{
    font-family: 'Cairo', sans-serif;
}
.navbar{
    background-color: #131313;
    padding: 1rem 8rem;
    z-index: 1000;


}

.navbar .navbar-brand{
    font-size: 1.4rem;
    font-weight: 700;

}
#navbarSupportedContent > ul > li:nth-child(n) > a{
    color: #fff;
    font-size: 1.1rem;
    padding: 0 0.8rem;
    
}
.mybtn{
    background: #00BF85 !important;
    font-weight: 600 !important;
    padding: 0.4rem 1.4rem !important;
    margin-right: 0.1rem !important;
    border-radius:30px !important;
    color: white !important;
}

#navbarSupportedContent > ul > li:nth-child(n) > a:hover{
    color: #00BF85;

}
img{ display:block;

}

.mid{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-content: center;
    text-align: center; 
}

.mid img{
    width: 100%;
    height: 100%;
    pointer-events: none;
    object-fit: cover;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

}

.hero{
    position: relative;
}

.mid .hero p{
    width: 55%;
    font-size: 1.1rem;
    letter-spacing: 0.2px;
    padding-bottom: 1rem;

}

.center-right{
    text-align: right;
}
.mid .hero .first{
    background: #7289da !important;
    font-weight: 600 !important;
    padding: 0.4rem 1.4rem !important;
    border-radius:30px !important;
    color: white !important;
    text-decoration: none;
}

.mid .hero .first:hover{
    background: #3962f6 !important;

}
.mid .hero .ss{
    background: #00BF85 !important;
    font-weight: 600 !important;
    padding: 0.4rem 1.4rem !important;
    border-radius:30px !important;
    color: white !important;
    text-decoration: none;
}

.mid .hero .ss:hover{
    background: #00BF85 !important;

}
.about{
    background-color: #000;
}



.about .text{
    
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    margin: auto;

}

.about .text h6{
    
    color: #00BF7F;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: right !important;
    
}

.about .text h2{
    
    color: #F7F5F4;
    font-weight: 700;
    font-size: 2.4rem;
    
}

.about .text p{
    
    color: #F7F5F4;
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    
}

.about .text a{
    
    background: #00BF85 !important;
    font-weight: 600 !important;
    padding: 0.6rem 1.4rem !important;
    border-radius:30px !important;
    text-decoration: none;
    color:white !important;
    text-align: right !important;
    
}



/* ppp */



.tut{
    background-color: #fff;
}



.tut .text{
    
    display: flex;
    flex-direction: column;
    justify-self: flex-start;
    align-items: center;
    margin: auto;

}

.tut .text h6{
    
    color: #00BF7F;
    font-weight: 800;
    font-size: 1rem;
    letter-spacing: 2px;
    text-align: right !important;
    
}

.tut .text h2{
    
    color: #111;
    font-weight: 700;
    font-size: 2.4rem;
    
}

.tut .text p{
    
    font-weight: 400;
    font-size: 1.1rem;
    letter-spacing: 0.5px;
    
}

.tut .text a{
    
    background: #111 !important;
    font-weight: 500 !important;
    padding: 0.6rem 1.4rem !important;
    border-radius:30px !important;
    text-decoration: none;
    color:white !important;
    text-align: right !important;
    
}

/* end */


.services{
    background: #000;
}




.services .one {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem 1.5rem;
    border-radius: 7px;
}


.services a{
    background: #00BF85 !important;
    font-weight: 600 !important;
    padding: 0.4rem 1.4rem !important;
    border-radius:30px !important;
    color: white !important;
    text-decoration: none;
}

.services a:hover{
    background: #111 !important;

}
html {
    scroll-behavior: smooth;
}