{% extends "layout.html"%}

{% block body %}


   <div class="mid">
    <!-- 


          <img class ="embed-responsive" src="{{url_for('static', filename='12.gif')}}" >

    -->

    <img class ="embed-responsive" src="{{url_for('static', filename='12.gif')}}" >

          <div class="hero text-center">

              <h2 class="text-light display-4 font-weight-bold">FALCON DIGITAL</h2>
              <a class="text-dark first" href="https://discord.gg/bbYtFTADHx">JOIN DISCORD</a>
              <a class="text-dark ss" href="{{ url_for('account') }} ">CHANGE IP</a>

            </div>

   </div>


   


   
   
{% endblock %}
